//TODO : box sizing
// Note - styles in file are separate so they can be extracted out as components
/**
 * Styles for select type component
 */
$text-padding-hz: 8px;

.select-type {
  position: relative;
}

/** Input */
.select-type__input{
  width: 100%;
  padding: 2px $text-padding-hz;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  box-shadow: none;
  border: 1px solid #9c9c9c;
  height: 25px;
  &:hover, &:focus {
    outline: none;
    border-color: #58427C;
  }
}


.select-type__input--selected {
  $gradient-start: #F9F9F9;
  $gradient-end: #B0B0B0;
  $gradient-mid: mix($gradient-start, $gradient-end);
  background-color: $gradient-mid;
  background-image: linear-gradient(to bottom, $gradient-start, $gradient-end);
}

/** cancel **/
.select-type__cancel {
  z-index: 1;
  position: absolute;
  right: 8px;
  top: 5px;
  display:none;
  cursor: pointer;
  cursor: hand;
  color: $body-color;
  font-size: 10px;
}

.select-type__cancel--selected {
  display:inline-block;
}


/* Dropdown */
.select-type__dropdown {
  display:none;//by Default should be not displayed
  background-color: #fff;
  border: 1px solid #8c8c8c;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.06);
  border-top: 0;
  position: absolute;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  z-index: $dropdown-zindex;
  @media screen and (max-width: $small-width) {
    box-shadow:none;
  }
}

.select-type--active .select-type__dropdown {
  display: block;
}

.select-type__list {
  list-style: none;
  margin: 0;
  padding: 8px 0;
}

.select-type__index {
  cursor: pointer;
  cursor: hand;
  padding: 8px $text-padding-hz;
  &:hover {
    background-color: #8c8c8c;
    color: #ddd;
  }

  > em {
    font-weight: 800;
    font-style: normal;
  }
}

.select-type__index--focused {
  background-color: #8c8c8c;
  color: #ddd;
}