doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='#{pathToAssets}/docs/favicon.ico')
    title Profile
    //link(href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Asap|Averia+Sans+Libre|Fira+Sans|Nunito|Racing+Sans+One|Sansita+One|Source+Sans+Pro" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Nunito" rel="stylesheet")
  body
    -
    include ./templates/header.jade
    main.container
      include ./templates/about
      include ./templates/skills
      +displaySkills(skills)
      include ./templates/experience
      +displayExperiennce
      include ./templates/projects
      +displayProjects(projects)
      include ./templates/education
      +displayEducation