$section-header-height: 64px;

.site-section {
  position: relative;

  &:before {
    content:"";
    display:inline-block;
    height:0;
    width:100%;
    border-bottom: 1px solid #1A1B1A;
    font-size: 10px;
    position: absolute;
    top: 31px;
  }

  @media screen and (max-width: $small-width) {
    // Add some padding in small mode, we don't need that in large mode as the headers are shifted to left
    padding-bottom: 20px;
  }
}
.section--header {
  display: inline-block;
  font-size: 30px;
  width: 160px; // Set a common width so that all section boxes match
  height: $section-header-height;
  line-height: $section-header-height;
  position: relative;
  margin:0;
  padding: 0 5px;
  background-color:$header-bg;
  color: $header-color;

  @media screen and (max-width: $small-width) {
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
}

.section--header::after  {
  content:'';
  display:inline-block;
  height:0;
  position:absolute;
  top:0;
  left:100%;
  // Should be same as body bg so that they are not visible
  border: #{$section-header-height/2} solid $body-bg;
  border-left-color:$header-bg;
  border-right-width:0;
  @media screen and (max-width: $small-width) {
    display:none;
  }
}

.site-section__info, .filter-project, .technology {
  margin-left: $main-content-info-shift;
  padding-left: 20px;
  @media screen and (max-width: $small-width) {
    margin-left: 0;
  }
}

.technology__name {
  padding-top: 0;
}