$primary-color:#F8F9F8;
$secondary-color: #1A161A;

$header-bg: $secondary-color;
$header-color: $primary-color;
$header-bg-color-opaque: rgba($header-bg, 0.9);

$body-bg: $primary-color;
$body-color: $secondary-color;

$heading-font: 'Nunito', sans-serif;
$body-font:  'Asap', sans-serif;


$main-content-width: 900px;
//$subskill-shift: 70px;
//$body-color: #848484;
$main-content-bg-color: #f8f9f8;