@import "~normalize.css/normalize.css";

$main-content-width: 900px;
$subskill-shift: 70px;
$body-color: #848484;

body {
  margin: 0;
  background-color: #f2e2d9;
  color: #526072;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  //background-color: #262d35;
  //background-image: radial-gradient(50% 100%, ellipse farthest-corner, #2a12ff, #000036 100%);
  //background-image: -webkit-radial-gradient(50% 100%, ellipse farthest-corner, rgb(42, 18, 255), rgb(0, 0, 54) 100%);
  //background-attachment: fixed;
}

.header-main {
  font-family: 'Trocchi', cursive;
}


.container {
  max-width: $main-content-width;
  box-shadow: 1px 20px 30px 0 #000;
  min-height: 100vh;
  background-color: rgba(#F8F9F8, 1);
  margin: -20px auto auto;
  padding: 15px;
}

header {
  // To create a new context for margin collapse
  overflow: auto;
  background-color: #f8f9f8;
  box-shadow: 0 16px 6px -6px #666;
}

.header-info {
  max-width: $main-content-width;
  margin: auto;
}

.section--header {
  font-size: 30px;
  border-bottom: 1px solid;
  padding-top: 10px;
}

.about-info {
  padding-top: 10px;
}

.skills-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill {
  position:relative;
  margin: 40px 80px;
  max-width: 50%;
}
@mixin circle($radius, $bg-color) {
  height: $radius;
  width: $radius;
  background-color: $bg-color;
  //border: 8px solid $bg-color;
  border-radius: $radius;
  line-height:$radius;
  border: 0px solid rgba(255, 255, 255, 0);
  text-align:center;
}

.skill-main {
  @include circle(80px, #e93826);
  color: #efefef;
  position:relative;
  z-index: 2;

  &:hover ~ {
    .skill-sub--0 {
      left: $subskill-shift;
      top: $subskill-shift;
    }

    .skill-sub--1 {
      left: -$subskill-shift;
      top: $subskill-shift;
    }

    .skill-sub--2 {
      left: -$subskill-shift;
      top: -$subskill-shift;
    }

    .skill-sub--3 {
      left: $subskill-shift;
      top: -$subskill-shift;
    }
  }
}

.skill-sub {
  @include circle(80px, #e93826);
  color: #efefef;
  position: absolute;
  top:0;
  left:0;
  font-size: 16px;
  transition: all 0.5s cubic-bezier(0.935, 0, 0.34, 1.33);
}

.experience-info__detail {
  padding: 20px 0;
}

.experience-info__title {
  font-weight: bold;
}


#canvasBg {
  position:fixed;
  top:0;
  left:0;
  z-index: -1;
  background-image: radial-gradient(ellipse farthest-corner at 50% 100%, #1B1B1B 0%, #4c4c4c 70%, #727272 100%);
}

