.filter-project {
  display: flex;
  padding: 5px 0;
  align-items: center;

  > .select-type {
    flex: 1;
  }
}

.filter-project__text {
  padding-right: 5px;
  padding-top: 8px; // To align the text with the box
}