/**
 * Styles to display the project filter input with label
 */
.filter-project {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0 5px 20px;
  // Not add any bottom padding as that would register any click
  // in the padding area as click on the input
  margin-bottom: 20px;
  align-items: center;

  > .select-type {
    flex: 1;
  }
}

.filter-project__text {
  padding-right: 5px;
  padding-top: 8px; // To align the text with the box
  @media screen and (max-width: $small-width) {
    //ensure that text expand to full width on mobile so that input goes to a new line
    width: 100%;
  }
}

.technology {
  padding-bottom: 25px;
}
