*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;

  // em so that relative for header font size
  // Bottom padding more as content below header should be closer to it compared to content above it
  padding: 0.5em 0 0.1em 0;
  font-family: $heading-font;
  font-weight: 200;
}

p {
  margin: 0.2em 0 0.5em 0;
}

ul {
  padding: 5px 0 10px 25px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #055D89;
  &:hover, &:active, &:visited {
    color: #055D89;
  }
}