body {
  margin: 0;
  background-color: $body-bg;
  color: $body-color;
  //font-family: 'Source Sans Pro', sans-serif;
  font-family: $body-font;
  font-size: 14px;
  line-height: 1.4;
}

.container {
  max-width: $main-content-width;
  box-shadow: 1px 20px 30px 0 #000;
  min-height: 100vh;
  background-color: rgba(#F8F9F8, 1);
  margin: -20px auto auto;
  padding: 15px 25px;
  border-radius: 10px;
}

#canvasBg {
  position:fixed;
  top:0;
  left:0;
  z-index: -1;
  background-image: radial-gradient(ellipse farthest-corner at 50% 100%, #1B1B1B 0%, #4c4c4c 70%, #727272 100%);
}