body {
  margin: 0;
  background-color: $body-bg;
  color: $body-color;
  //font-family: 'Source Sans Pro', sans-serif;
  font-family: $body-font;
  font-size: 14px;
  line-height: 1.4;
}

.container {
  max-width: $main-content-width;
  box-shadow: 1px 20px 30px 0 #000;
  min-height: 100vh;
  background-color: rgba(#F8F9F8, 1);
  margin: -20px auto auto;
  padding: 15px 25px;
  border-radius: 10px;
  position: relative;
  @media screen and (max-width: $small-width) {
    padding: 5px;
  }
}

.site-section__info > h2:first-of-type {
  // First entry in a section should be closer to it as it does not has any content above it.
  padding-top: 0;
}