mixin displayEducation
  section.project
    div.project-header.section--header Education
    div.project-info
      div.project-info__detail
      h2.project-info__title IIT Bombay, 2001-2005
      h2.project-info__title Seth M.R. Jaipuria School, Lucknow, 1992-2000

