/**
 * Styles to create animated convas background and it's fallback
 */
#canvasBg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $header-bg;
  background-image: radial-gradient(
    ellipse farthest-corner at 50% 100%,
    $header-bg 40%,
    lighten($header-bg, 10%) 100%
  );
  box-shadow: 9px 0 9px 2px #1a161a;
  @media screen and (max-width: $small-width) {
    box-shadow: none;
  }
}

.canvas-fallback {
  background-color: $header-bg;
}
