.main-nav {
  max-width: $main-content-width;
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
  background-color: $header-bg-color-opaque;
}

.main-nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 400;
  justify-content: space-between;
  padding: 10px; // Padding to ensure that menu items are above the content
}

.main-nav__index {
  border-bottom: 1px solid transparent;
  text-align: center;
  overflow: hidden;
  display:inline-block;

  &:after {
    padding: 0 10px;
    content: "";
    display: inline-block;
    border-bottom: 1px solid $header-color;
    width: 100%;
    transform: scaleX(0);
    transition: all 0.5s;
  }
  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
  // As it is an hover specific animation, disable border
  .touch-device &:after {
    border-bottom: none;
  }
}

// For navigation links we want to inherit from base styles
.main-nav__link {
  color: inherit;
  text-decoration: none;
  &:hover, &:active, &:visited {
    color: inherit;
  }
  &:focus {
    outline: 1px dotted $header-color;
  }
}
