.main-nav {
  max-width: $main-content-width;
  width: 100%;
  padding-bottom: 20px;
  background-color: $header-bg-color-opaque;
}

.main-nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px; // Padding to ensure that menu items are above the content
}

.main-nav__index {
  border-bottom: 1px solid transparent;
  text-align: center;
  overflow: hidden;

  &:after {
    padding: 0 10px;
    content: "";
    display: inline-block;
    border-bottom: 1px solid $header-color;
    width: 100%;
    transform: scaleX(0);
    transition: all 0.5s;
  }
  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}
