.skills-svg {
  margin: 0 40px;
}

.skills-info {
  padding: 20px 0;
}

.skill-circle--filler {
  fill: transparent;
  stroke: #fde2d1;
}

.skill-circle--percent {
  fill: $main-content-bg-color;
  stroke: #fe7525;
}

.skill-circle__text {
  text-anchor: middle;
  font-size: 16px;
  fill: #863f16;
}

.skill-circle {
  transition: all 0.5s cubic-bezier(0.935, 0, 0.34, 1.33);
}
