section.site-section.about
  h2.about-header.section--header About Me
  div.site-section__info.about-info.
    (Temp text : to be improved) I am a full stack web developer currently working in Bengaluru, India.
    I have more than 8.5 years of experience in designing production facing web applications using frameworks likes ReactJS and AngularJS or using pure Javascript wherever needed.

    I am a firm believer in following industry standard best practices like responsive web design, graceful degradation and use of accessibility concepts.