section#about.site-section.about
  h2.about-header.section--header About Me
  div.site-section__info.about-info
    p.
      I am a full stack web developer who specializes in building out well-designed applications that are scalable, functional and robust.
      I have more than 8.5 years of experience in creating production facing web applications.
    p I am proficient in Java, Javascript and CSS3 and in using tools and libraries like NodeJS, ReactJS, AngularJS, SpringBoot and so on.
    p I strive for the highest quality in my project and am a firm believer in best practices like Test Driven Development, responsive web design, graceful degradation and use of accessibility concepts.