mixin displayEducation
  section#education.site-section.education
    h2.education-header.section--header Education
    div.site-section__info.education-info
      div.education-info__detail
      h2.education-info__title IIT Bombay, 2001-2005
      h2.education-info__title Seth M.R. Jaipuria School, Lucknow, 1992-2000

