mixin displayEducation
  section#education.site-section.education
    h2.education-header.section--header Education
    div.site-section__info.education-info
      div.education-info__detail
      h2.education-info__title #[a(href="http://www.iitb.ac.in/") IIT Bombay], 2001-2005
      p IIT Bombay is one of the top educational institutes in India, with an acceptance rate of less than 1%.
      h2.education-info__title #[a(href="http://www.jaipuriaschools.ac.in/") Seth M.R. Jaipuria School], Lucknow, 1992-2000
      p Completed my basic schooling from here.
