mixin displayExperiennce
  section#experience.site-section.experience
    h2.experience-header.section--header Experience
    div.site-section__info.experience-info
      h3.experience-info__title Vice President, Web @#[a(href="http://www.goldmansachs.com/") Goldman Sachs]
      p.experience-duration September 2012 - April 2016
      p.experience-info__text.
        Part of the Core Web Team which builds and manages client facing sites like #[a(href="https://marquee.gs.com") Marquee], #[a(href="https://360.gs.com") GS360] and #[a(href="http://www.goldmansachs.com/") GS.com] and multiple firmwide sites and tools.
      h3.experience-info__title Vice President, GS360 @#[a(href="http://www.goldmansachs.com/") Goldman Sachs]
      p.experience-duration September 2007 - August 2012
      p.experience-info__text
        div Responsible for enhancing and updating Goldman's Client facing Web Portal - #[a(href="https://360.gs.com") GS360] .
        div Also worked as local interface for any Asia related requirements.
      h3.experience-info__title Senior Software Engineer, ASAP, @#[a(href="http://www.tavant.com/") Tavant Technologies]
      p.experience-duration March 2005 - July 2007
      p.experience-info__text.
        Worked as senior developer on Loan Management system called ASAP and was responsible for building out different modules in the project.