mixin displayExperiennce
  section#experience.site-section.experience
    h2.experience-header.section--header Experience
    div.site-section__info.experience-info
      h2.experience-info__title Vice President, Web @Goldman Sachs
      div.experience-info__text
        div As a part of the Core Web Team within Goldman Sachs manage external client facing sites like GS360 and GS.com.
        div Worked on and managed different internal web frameworks and Javascript tooling used by different teams within GS.
        div Built out various applications, including business sensitive applications like Marquee Quickpoll and Marquee Developer Tools and extremely critical firmwide applications like GS Uitoolkit and GS CDN.
        div Provided trainings to different teams in Asia region about different internal and external frameworks, following best practices and latest web trends in web development.
      h2.experience-info__title Vice President, GS360 @Goldman Sachs
      div.experience-info__text
        div Responsible for enhancing and updating Goldman's client facing portal GS360.
        div Also worked as local interface for any Asia related requirements.
      h2.experience-info__title Senior Software Engineer, ASAP, @Tavant
      div.experience-info__text.
        Worked as senior developer on Loan Management system called ASAP and was responsible for building out different modules in the project.