header
  canvas#canvasBg
    div.canvas-fallback
  div.header-info
    h1.header-main
      span.header-main__name Naval Singh
    div.header-main__title FullStack Developer
  nav.main-nav
    ul.main-nav__list
      li.main-nav__index About
      li.main-nav__index Skills
      li.main-nav__index Experience
      li.main-nav__index Projects
      li.main-nav__index Education
