header
  // Use very small width/height so that the canvas is not displayed till  it is resized via javascript
  canvas#canvasBg(width=1, height=1)
    div.canvas-fallback(aria-label="Simple animation using Canvas")
  div.header-info
    h1.header-main
      span.header-main__name Naval Singh
    div.header-main__title FullStack Developer
  nav.main-nav
    -
      const links= [
        {display: "About", target: "about"},
        {display: "Skills", target: "skills"},
        {display: "Experience", target: "experience"},
        {display: "Projects", target: "projects"},
        {display: "Education", target: "education"}]
    //some counter arguments against role  : https://adobe-accessibility.github.io/Accessible-Mega-Menu/
    ul.main-nav__list(role="navigation", aria-label="Main Menu")
      each link in links
        li.main-nav__index
          a.main-nav__link(href='\##{link.target}', data-target='#{link.target}') #{link.display}